.list{
  background: #fff;
  color: #323232;
  padding: 2rem;
  .flex_input{
    display: flex;
    margin-bottom: 2rem;
    p{
      max-width: 5rem;
      min-width: 5rem;
      flex: 70%;
      line-height: 2.5rem;
    }
  }
  .avater{
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    overflow: hidden;
    background: #F1F1F1;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .el-switch.is-disabled{
    opacity: 1;
  }
  .el-switch.is-disabled .el-switch__core, .el-switch.is-disabled .el-switch__label{
    cursor: pointer;
  }
  .overflow-hidden{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 1.4375rem;
    display: inline-block;
  }
  .block{
    margin-top: 1.25rem;
    text-align: right;
    .el-pagination__total{
      float: left;
    }
  }
  .top{
    padding: 0 1.25rem .625rem;
    h2{
      margin-bottom: .625rem;
    }
    .top-title{
      display: inline-block;
      max-width: 5.3125rem;
      min-width: 5.3125rem;
    }
    .small-font{
      font-size: .875rem;
      color: #666;
    }
    .title-img{
      max-height: 120px;
      height: 100%;
      margin: 10px 0;
    }
  }
  .margin-bottom{
    .el-row{
      margin-bottom: .625rem;
    }
  }
  .max-width{
    min-width: 15.625rem;
    margin-bottom: .9375rem;
  }
  .tab-container{
    background: #F7F7F7;
    padding: 1.25rem;
  }
  .tab-list{
    background: #fff;
    padding: 1.25rem;
  }
  .user-details{
    font-size: .9375rem;
    .max-width{
      color: #555;
    }
    .small-font{
      font-size: .9375rem;
      color: #777;
    }
    .tab-title{
      margin-bottom: 1.25rem;
      font-weight: bold;
      font-size: 1rem;
    }
  }
  .id-container{
    .id-pic{
      max-width: 15.625rem;
      margin-top: 1.25rem;
      margin-bottom: 1.25rem;
      img{
        width: 100%;
      }
    }
  }
  .flex_input{
    p{
      max-width: 4.5rem;
      min-width: 3rem;
      font-size: .875rem;
    }
  }
  .el-radio{
    line-height: 2.5rem;
  }
  .el-table--fit{
    border-top: solid 1px #EBEEF5;
  }
  .one-level{
    color: #999;
    padding-left: 10px;
  }
  .details-icon{
    vertical-align: middle;
    width: 30px;
    margin-right: 10px;
    border-radius: 3px;
  }
  .text_left{
    text-align: left;
  }
  .text_right{
    text-align: right;
  }
  .text-center{
    text-align: center;
  }
  .flex{
    display: flex;
  }
  .el-dialog__title {
    line-height: 24px;
    font-size: 15px;
    color: #555;
    font-weight: 600;
  }
  .el-dialog__header {
    padding: 15px 20px;
    border-bottom: 1px solid #EBEBEB;
  }
  .el-dialog__footer {
    padding: 15px 20px;
    border-top: 1px solid #EBEBEB;
  }
}
.classify {
  .el-tabs__item{
    margin: 0 10px;
    padding: 0 20px;
    background: #FAFAFA;
    border: 1px solid #EBEBEB;
    height: 40px;
    box-shadow: 1px 5px 5px #ddd;
  }
  .el-tabs--card>.el-tabs__header .el-tabs__nav{
    border: none;
    border-bottom: 1px solid #E4E7ED;
  }
  .el-tabs--card>.el-tabs__header .el-tabs__item.is-active {
    border-bottom-color: #409EFF;
    background: #409EFF;
    color: #fff;
  }
  .el-tabs--card>.el-tabs__header .el-tabs__item:first-child{
    border-left: 1px solid #EBEBEB;
  }
}
.img-upload {
  width: 100px;
  height: 100px;
  border-radius: 3px;
  border: dashed 1px #ddd;
  text-align: center;
  line-height: 100px;
}
.carousel{
  .el-tabs__header{
    margin: -20px -20px 30px;
    padding-top: 20px;
    border-top: solid 1px #EBEEF5;
    background: #fff;
  }
  .el-tabs__nav-scroll{
    padding: 0 20px;
  }
  .el-tabs__active-bar{
    padding: 0 10px;
  }
  .el-tabs--top .el-tabs__item.is-top:nth-child(2){
    padding-left: 20px;
  }
  .el-tabs--top .el-tabs__item.is-top:last-child{
    padding-right: 20px;
    margin-left: 20px;
  }
  .el-dialog__header{
    border-bottom: 1px solid #EBEBEB;
  }
  .el-dialog__title{
    font-size: 15px;
    color: #555;
    font-weight: bold;
  }
  .el-dialog__footer{
    border-top: 1px solid #EBEBEB;
    padding-top: 20px;
  }
  .el-dialog__body{
    width: 60%;
    margin: auto;
  }
  .el-form-item__content{
    line-height: 1;
  }
}
.status{
  display: inline-block;
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  margin-right: .3125rem;
}
.status.status-wating{
  background: #F04134;
}
.status.status-pass{
  background: #00A854;
}
.status.status-nopass{
  background: #BFBFBF;
}
.videoPlayDialog{
  .el-dialog__body {
    padding: 0;
  }
}
